<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
    <form [formGroup]="crudForm" (ngSubmit)="onSubmit()">
        <div style="margin-bottom:15px">
            <input placeholder="Food Name" formControlName="food_name" >
            <div *ngIf="submitted && f.food_name.errors" class="invalid-feedback">
                <div *ngIf="f.food_name.errors.required">Food Name is required</div>
            </div>
        </div>
        <div style="margin-bottom:15px">
            <input placeholder="Food Color" formControlName="food_color">
            <div *ngIf="submitted && f.food_color.errors" class="invalid-feedback">
                <div *ngIf="f.food_color.errors.required">Food Color is required</div>
            </div>
        </div>
          <button>Add</button>
    </form>
</div>
    
<section>
    <div class="table-responsive">
        <table style="width: 100%;text-align: center;">
            <thead>
                <th>Sr. No</th>
                <th>Food Name</th>
                <th>Food Color</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let choice of choice; index as i">
                    <td>{{i+1}}</td>
                    <td>{{choice.food_name}}</td>
                    <td>{{choice.food_color}}</td>
                    <td><button (click)="deleteChoice(choice.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </section>    
<router-outlet></router-outlet>
